@font-face {
  font-family: 'crypto';
  src: url('fonts/crypto.eot?qapq1v');
  src: url('fonts/crypto.eot?qapq1v#iefix') format('embedded-opentype'), url('fonts/crypto.ttf?qapq1v') format('truetype'), url('fonts/crypto.woff?qapq1v') format('woff'), url('fonts/crypto.svg?qapq1v#crypto') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'], [class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'crypto' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-btcorig .path1:before {
  content: '\e905';
  color: rgb(247, 147, 26);
}

.icon-btcorig .path2:before {
  content: '\e906';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-usdt:before {
  content: '\e928';
}

.icon-alipay:before {
  content: '\e900';
}

.icon-alipay1:before {
  content: '\e901';
}

.icon-api:before {
  content: '\e902';
}

.icon-assets:before {
  content: '\e903';
}

.icon-btc:before {
  content: '\e904';
}

.icon-control:before {
  content: '\e907';
}

.icon-control1:before {
  content: '\e908';
}

.icon-crypto:before {
  content: '\e909';
}

.icon-eth:before {
  content: '\e90a';
}

.icon-ethorig .path1:before {
  content: '\e90b';
  color: rgb(52, 52, 52);
}

.icon-ethorig .path2:before {
  content: '\e90c';
  margin-left: -1em;
  color: rgb(140, 140, 140);
}

.icon-ethorig .path3:before {
  content: '\e90d';
  margin-left: -1em;
  color: rgb(60, 60, 59);
}

.icon-ethorig .path4:before {
  content: '\e90e';
  margin-left: -1em;
  color: rgb(140, 140, 140);
}

.icon-ethorig .path5:before {
  content: '\e90f';
  margin-left: -1em;
  color: rgb(20, 20, 20);
}

.icon-ethorig .path6:before {
  content: '\e910';
  margin-left: -1em;
  color: rgb(57, 57, 57);
}

.icon-graph:before {
  content: '\e911';
}

.icon-key:before {
  content: '\e912';
}

.icon-log:before {
  content: '\e913';
}

.icon-log1:before {
  content: '\e914';
}

.icon-market:before {
  content: '\e915';
}

.icon-mastercard:before {
  content: '\e916';
}

.icon-pay:before {
  content: '\e917';
}

.icon-pay1:before {
  content: '\e918';
}

.icon-paypal:before {
  content: '\e919';
}

.icon-paypal1:before {
  content: '\e91a';
}

.icon-setting:before {
  content: '\e91b';
}

.icon-setting1:before {
  content: '\e91c';
}

.icon-shield:before {
  content: '\e91d';
}

.icon-stock:before {
  content: '\e91e';
}

.icon-trust:before {
  content: '\e91f';
}

.icon-trust1:before {
  content: '\e920';
}

.icon-usdtorig .path1:before {
  content: '\e921';
  color: rgb(83, 174, 148);
}

.icon-usdtorig .path2:before {
  content: '\e922';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon-visa:before {
  content: '\e923';
}

.icon-visa2:before {
  content: '\e925';
}

.icon-wechat:before {
  content: '\e926';
}

.icon-wechat1:before {
  content: '\e927';
}

.icon-credit-card:before {
  content: '\e93f';
}

.icon-spinner9:before {
  content: '\e982';
}
